@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    

}
/* background images */
/* landing page img */
.img1 {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba( 0,0,0,1)) , url(/Assets/Imgs/Background\ img\ POS\ project.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 
    
   
}
/* product page img */
.img2 {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(176, 175, 175, 0), rgba( 0,0,0,1)) , url(/Assets/Imgs/Javascript\ Project\ Img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 
    
   
}
/* Admin page */
.img3 {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(176, 175, 175, 0), rgba( 0,0,0,1)) , url(/Assets/Imgs/Javascript\ Project\ Img3jpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 
    
   
}
/* landing page text */
.home-p-text{
    font-size: 18px;
    color: #c6c6c6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-right: 5rem;
    padding-left: 5rem;
}
/* landing page text */
#heading-homepage {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 72px;
    color: #FDF7FF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
 
}
/* landing page text */
.home-text{
    margin-top: 270px;
}

/* Product page text*/
#heading-productpage {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 72px;
    color: #FDF7FF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
 
}
/* Product Page P text */
.product-p-text {
        font-size: 18px;
        color:#c6c6c6 ;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        padding-right: 5rem;
        padding-left: 5rem;
    }
    
/* Checkout Page */
    #heading-checkoutpage{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 72px;
    color: #FDF7FF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-bottom: 1rem;

    }

    .subheading-checkoutpage{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    color: #c6c6c6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    }

main{
    height: 100vh;
    width: 100vw;
}


.card-img-top{
        width:18rem;
        height: 25rem;
}


body{
    @media (min-width: 300px) {    
        {
            width: 100%;
        }
    }
}