@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img1 {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba( 0,0,0,1)) , url(/Assets/Background\ img\ POS\ project.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 
    
   
}

.p-text{
    font-size: larger;
    color: #FDF7FF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-right: 5rem;
    padding-left: 5rem;
}

#heading {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 72px;
    color: #FDF7FF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
 
}

.home-text{
    margin-top: 270px;
}




main{
    height: 100vh;
    width: 100vw;
}